
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../loginassets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../loginassets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../loginassets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../loginassets/demo/demo.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  


  <body class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-image: url('../loginassets/img/bg7.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <!-- <div class="row">
            <div class="col"><hr></div>
            <div class="col">OR</div>
            <div class="col"><hr></div>
        </div> -->
                  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
              <form class="form" method="POST" action="/login">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">
                    <a href="/auth/login/facebook" class="btn btn-just-icon btn-link">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="/auth/login/google" class="btn btn-just-icon btn-link">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Or</p>
               
                
                <div class="card-body">
                  <%- include('partials/messagesLogin'); %>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input name = 'email' id = 'email' type="email" class="form-control" placeholder="Email...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" name = 'password' id = 'password' class="form-control" placeholder="Password...">
                  </div>
                </div>
                <div class= 'col'>
                <div class="text" style="text-align: end;">
                  <a href=/forgotpassword style="color: green; text-decoration: underline;position:relative; left:20%; top:auto">Forgot Password?</a>
                </div>
            <!-- </div> -->
            <!-- <div class= 'row'> -->
              <div class="g-recaptcha login-recaptcha" data-sitekey="6LfZUNAZAAAAAKV61xShavwlZi7v0tEp1DGVzxL4"></div>
                <div class="text-center" >
                  <button type="submit" style="position:relative; margin-top: 10%; margin-left: 22%; " class="btn btn-primary  btn-wd btn-lg"> Login</button>
                </div>
            <!-- </div> -->
            
            
            <!-- <div class= 'row'> -->
                <p style="position:relative; margin-left:37%; margin-top:6%">
                    New here? <a href="/register" style="text-decoration: underline; "> Register </a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script src="../loginassets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../loginassets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../loginassets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../loginassets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../loginassets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../loginassets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../loginassets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
  <!-- <script type="text/javascript"> function preback(){window.history.forward();} 
  setTimeout("preback()",0);
  window.onunload = function(){null};
  </script> -->
</body>

</html>