<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CARE signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
      body {
        font-family: arial;
        margin: 0;
      }
      nav {
        background: #f57224;
        padding: 20px 10px;
      }
      nav ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
      }
      nav li {
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
      }
      nav a {
        color: #fff;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
      }
      main,
      header {
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }
      .continue-btn {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #5364ff;
      }
    </style>
  </head>
  <body>
    <!-- <nav>
      <ul>
        <% if(user) { %>
        <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Dashboard</a></li>
      </ul>
    </nav> -->
    <header>
      <h1>Thank you for joining CARE</h1>
    </header>
    <main>
      <p>
        <label><input name="privacy&policy" type="checkbox" value="Agreed"></label> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
        
      </p>
      <div>
        <p>
          <strong>Please Subscribe to get new updates to registered Email id : <%= user.userEmail %> </strong>
        </p>
        <a class="btn btn-primary continue-btn" href="/profile">Subscribe</a>
      </div>
    </main>
  </body>
</html>